@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome to Rick and Morty</h1>
    <p> <a asp-action="Index" asp-controller="Character">View Characters</a></p>
</div>